// Reset basic elements
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

// Set 'margin-bottom' to maintain vertical rhythm
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Basic styling
body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height-base;
  -webkit-text-size-adjust: 100%;
}

@include media-query-min($on-laptop) {
  body {
    font-size: 24px;
  }
}

// Images
img {
  max-width: 100%;
  vertical-align: middle;
}

//Figures
figure > img,
figure > svg {
  display: block;
}

figcaption {
  font-size: $font-size-small;
}

// Lists
ol,
ul {
  margin-left: $spacing-unit;
}

li {
  > ol,
  > ul {
    margin-bottom: 0;
  }
}

// Links
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

// Wrapper
.wrapper {
  @extend %clearfix;

  margin: 0 auto;
  max-width: 800px - ($spacing-unit * 2);
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @include media-query-max($on-laptop) {
    max-width: 800px - $spacing-unit;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

// Clearfix
%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Utility Classes
.center {
  text-align: center;
}

.place,
.nowrap {
  white-space: nowrap;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
