// Page content
.page-content {
  margin: 0 auto;
  max-width: 33em;
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $font-size-small;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query-max($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query-max($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query-max($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query-max($on-laptop) {
      font-size: 18px;
    }
  }
}

// Footer
.site-footer {
  margin-bottom: 20em;
  margin-top: 2em;
}
