h1 {
  @include display-typeface;
  font-family: $display-font-family;
  font-size: 48px;
  margin-top: 1em;
}

em,
i {
  font-family: 'crimsonitalic', $base-font-family;
}

.color-splash {
  margin-bottom: 1em;
}
@include media-query-min($on-laptop) {
  .color-splash {
    padding: 1em 0;
  }
}

.center {
  text-align: center;
}

.group-logo-wrapper {
  margin: 0 auto;
  max-width: 14em;
}

@include media-query-min($on-laptop) {
  .group-logo-wrapper {
    max-width: 16em;
  }
}

.icon-wrapper {
  @include display-typeface;
  svg {
    height: 2em;
    margin-bottom: -.6em;
    margin-left: -.7em;
  }
}

.social-icon {
  margin-top: 1em;
}

@include media-query-min($on-laptop) {
  .social-icon {
    margin-top: 2em;
  }
}
