h1 {
  @include display-typeface;
  font-size: 48px;
  margin-top: 1em;
}

h2 {
  @include display-typeface;
  font-size: 24px;
}

@include media-query-min($on-laptop) {
  h2 {
    font-size: 52px;
  }
}

.winter .home h2 {
  color: $winter-blue;
}

h3 {
  font-family: 'crimsonitalic', $font-family-base;
  font-weight: normal;
}

em,
i {
  font-family: 'crimsonitalic', $font-family-base;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;

  &.with-leading {
    padding-left: .1em;
  }
}

.home a {
  white-space: nowrap;
}

date sup {
  padding-left: .1em;
}

.color-splash {
  background-position: center center;
  background-size: cover;
  margin-bottom: 1em;
}

.winter .color-splash {
  background-image: url('/images/snow-trees-small.jpg');
}

@include media-query-min(600px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-medium.jpg');
  }
}

@include media-query-retina-min(700px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-large.jpg');
  }
}

@include media-query-min($on-laptop) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-large.jpg');
  }

  .color-splash {
    padding: 1em 0;
  }
}

@include media-query-retina-min(1400px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-large2x.jpg');
  }
}

@include media-query-min(2400px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-large2x.jpg');
  }
}

@include media-query-retina-min(2400px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-4k.jpg');
  }
}

@include media-query-min(3840px) {
  .winter .color-splash {
    background-image: url('/images/snow-trees-4k.jpg');
  }
}

// Logo
.group-logo-wrapper {
  margin: 0 auto;
  max-width: 14em;
}

.winter .group-logo-wrapper {
  .embellishment {
    path {
      fill: $winter-blue-embellishment;
      opacity: .8;
    }
  }

  .word {
    path {
      fill: $winter-blue-text;
    }
  }
}

@include media-query-min($on-laptop) {
  .group-logo-wrapper {
    max-width: 16em;
  }
}


.icon-wrapper {
  @include display-typeface;
  svg {
    height: 2em;
    margin-bottom: -.6em;
    margin-left: -.7em;
  }
}

.social-icon {
  margin-top: 1em;
}

@include media-query-min($on-laptop) {
  .social-icon {
    margin-top: 2em;
  }
}
