h1 {
  @include display-typeface;
  font-size: 48px;
  margin-top: 1em;
}

em,
i {
  font-family: 'crimsonitalic', $font-family-base;
}

.color-splash {
  background-color: transparent;
  margin-bottom: 1em;
}

@include media-query-min($on-laptop) {
  .color-splash {
    padding: 1em 0;
  }
}

// Logo
.group-logo-wrapper {
  margin: 0 auto;
  max-width: 14em;

  .embellishment {
    path {
      fill: $logo-color-embellishment;
      opacity: .5;
    }
  }

  .word {
    path {
      fill: $logo-color-text;
    }
  }
}

@include media-query-min($on-laptop) {
  .group-logo-wrapper {
    max-width: 16em;
  }
}


.icon-wrapper {
  @include display-typeface;
  svg {
    height: 2em;
    margin-bottom: -.6em;
    margin-left: -.7em;
  }
}

.social-icon {
  margin-top: 1em;
}

@include media-query-min($on-laptop) {
  .social-icon {
    margin-top: 2em;
  }
}
